streamlit
python-dotenv
qdrant-client
langchain-qdrant
langchain-pinecone
langchain-huggingface
langchain-openai
langchain-google-genai
requests
numpy
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0
transformers==4.40.0
tokenizers
accelerate